.navigate {
	display: flex;
	align-items: center;
	gap: 26px;

	@media (max-width: 1440px) {
		gap: 16px;
	}

	@media (max-width: 1024px) {
		gap: 10px;
	}

	&__button {
		& svg {
			fill: var(--theme);

			@media (max-width: 1024px) {
				height: 25px;
				width: 25px;
			}
		}
	}
}

.profile {
	fill: var(--secondary-two);
	width: 36px !important;
	height: 36px !important;
	@media (max-width: 1024px) {
		height: 25px !important;
		width: 25px !important;
	}
}

.chat {
	& path {
		&:nth-child(2) {
			fill: var(--secondary-two);
		}
	}
}
