@import '../../styles/vars.scss';

.header {
	height: 119px;
	background-color: var(--primary);
	border-bottom: 1px solid var(--border-header);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1800px;
		width: 100%;
		height: 100%;
		padding: 0 20px;
		margin: 0 auto;
	}

	&__left {
		display: flex;
		align-items: center;
		gap: 167px;
		width: 50%;

		& a {
			width: 135px;
			height: 64px;
			background-image: var(--logo);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}
